
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>



        <h3>Order List</h3>
        <a asp-controller="order" asp-action="add">Add</a>
        <table border="1">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Side</th>
            </tr>
        @if (ViewBag.orders != null)
        {
            foreach (var order in ViewBag.orders)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.Name</td>
                    <td>@order.Price</td>
                    <td>@order.Quantity</td>
                    <td>
                        <a asp-controller="order" asp-action="edit" asp-route-itemid="@order.Id">Edit</a>

                        <a asp-controller="order" asp-action="delete" asp-route-itemid="@order.Id"
                           onclick="return confirm('Are you sure?')">Delete</a>
                    </td>
                </tr>
            }
        }
        </table>


    


</body>
</html>
